fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pandas
xlrd
openpyxl
numpy
prophet
xgboost
scikit-learn
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-groq
duckduckgo-search
shap
huggingface_hub
langchain-huggingface
langchain-ollama
psycopg2-binary